.tokium_font {
  font-family: 'Noto', sans-serif;
}

.tokium_lockscreen {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1em;
  padding: 4px;
}

.tokium_lockscreen::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(25deg, #f06598 33%, #fff500 66%, #00e29e 100% );
  filter: blur(4px);
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: inherit;
}

.tokium_lockscreen::after {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: inherit;
}
      
.tokium_loading_spinner {
  width: 1em;
  height: 1em;
  border: 5px solid #9a9a9a; 
  border-top: 5px solid #ff5998;
  border-radius: 50%;
  animation: tokium_spinner 1.5s linear infinite;
}

@keyframes tokium_spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  UNLOCK MODAL */
.tokium_unlockModal {
  font-size: 100%;
  font-family: 'Noto', sans-serif;
}

.tokium_image {
  min-width: 30%;
  max-width: 50%;
  height: auto;
}

.tokium_unlockModal_text {
  margin: 8px;
}

.tokium_button {
  border-radius: 12px;
  background:linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 100%);color:#ffffff;box-shadow:0 10px 20px -10px var(--shadow-color-candy);
  color: white;
  font-weight: 700;
  padding: 4px 16px;
  box-shadow: 0px 0px 10px 2px ;
  border-width: 0px;
  margin-bottom: 4px;
}

.hover:hover {
  cursor: pointer;
}