.tokium_unlockModal {
    font-size: 100%;
    font-family: 'Noto', sans-serif;
    padding: 1em;
}

.tokium {
    min-width: 30%;
    max-width: 50%;
    height: auto;
}

@media only screen and (max-width: 760px) {
    .tokium_unlockModal {
        display: none;
    }
}
